

*.ide-shm
*.exe
*.config
.vs/15520755.bnp.lab1/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.exe
*.config
*.pdb
*.cache
*.txt
*.cache
*.cache

*.resources

*.pdb
*.cache
*.cache
*.cache
*.exe
*.resources
*.pdb
*.resources
*.ide-wal
*.ide-shm
*.ide
*.lock
*.lock
*.cs
